body {
   background-color: #f1f0f0;
}

nav {
   background-color: #fff;
}

nav::after {
   content: "";
   display: block;
   clear: both;
}

ul.menu li {
   list-style: none;
   float: left;
   position: relative;
}

ul.menu li a {
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(26, 26, 26);
   text-decoration: none;
   display: inline-block;
}

ul.menu li.menu-item:hover::before {
   content: "";
   position: absolute;
   top: 3;
   width: 100%;
   height: 3px;
   background-color: rgb(0, 148, 223);
}

ul.menu li a:hover {
   color: rgb(0, 148, 223);
}

ul.menu li.menu-item {
   text-transform: uppercase;

}

ul.menu li.menu-item a {
   padding: 20px 25px;
}

ul.menu li.menu-item ul.sub-menu,
ul.menu li.menu-item ul.sub-menu li ul.sub-menu {
   display: none;
}

ul.menu li.menu-item ul.sub-menu {
   padding: 0;
}

ul.menu li.menu-item ul.sub-menu li a {
   width: 200px;
}

ul.menu li.menu-item:hover ul.sub-menu {
   display: block;
}

ul.menu li.menu-item ul.sub-menu li.sub-menu-item:hover ul.sub-menu {
   display: block;
}

/* ul.menu li.menu-item ul.sub-menu li.sub-menu-item a:hover ul.sub-menu {
   display: block;
} */

/* ul.menu li.menu-item ul.sub-menu li ul.sub-menu li {} */
ul.menu li.menu-item,
ul.menu li.menu-item ul.sub-menu li.sub-menu-item {
   position: relative;
}

ul.menu li.menu-item ul.sub-menu,
ul.menu li.menu-item ul.sub-menu li.sub-menu-item ul.sub-menu {
   position: absolute;
}

ul.menu li.menu-item ul.sub-menu li.sub-menu-item ul.sub-menu {
   left: 260px;
   top: 0px;
}

ul.sub-menu li.sub-menu-item {
   float: none;
   background-color: rgb(26, 26, 26);
}

ul.sub-menu li.sub-menu-item a {
   color: #f1f1f1;
   text-transform: capitalize;
}

ul.sub-menu li.sub-menu-item a:hover {
   color: #fff;
}

ul.sub-menu li.sub-menu-item ul.sub-menu {
   float: right;
}

ul.sub-menu li.sub-menu-item a {
   padding: 12px 40px 12px 20px;
}

ul.sub-menu li.sub-menu-item,
ul.sub-menu li.menu-item {
   position: relative;
}

ul.sub-menu li.sub-menu-item a:not(:only-child):hover::after,
ul.menu li.menu-item a:not(:only-child):hover::after {
   content: ">";
   font-size: 18px;
   position: absolute;
   right: 2px;
   margin: auto;
   width: 12px;
   text-align: center;
   transform: rotate(90deg);
}