@font-face {
   font-family: 'source_sans_pro';
   src: url(./fonts/sourcesanspro-bold-webfont.woff) format('woff'),
      url(./fonts/sourcesanspro-bold-webfont.woff2) format('woff2');
   font-style: normal;
   font-weight: bold;
}

@font-face {
   font-family: 'source_sans_pro';
   src: url(./fonts/sourcesanspro-regular-webfont.woff) format('woff'),
      url(./fonts/sourcesanspro-regular-webfont.woff2) format('woff2');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'source_sans_pro';
   src: url(./fonts/sourcesanspro-it-webfont.woff) format('woff'),
      url(./fonts/sourcesanspro-it-webfont.woff2) format('woff2');
   font-style: italic;
   font-weight: bold;
}

div {
   box-sizing: border-box;
   font-family: 'source_sans_pro';
}

.parent {
   width: 600px;
   padding: 20px;

}

.child {
   /* width: 30%; */
   width: calc(30% - 10px);
   margin-right: 10px;
   float: left;
}

.child--first {
   font-style: normal;
}

.child--middle {
   font-weight: bold;
}

.child--last {
   width: 40%;
   margin-right: 0;
   font-style: italic;
}

.parent--inline-block {
   display: inline-block;
}

.parent--flexbox {
   display: flex;
}

/* .parent--float {
   display: contents;
} */

.parent--float::after {
   content: " ";
   display: block;
   clear: both;
}